@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

.header{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo{
  max-width: 100px;
  max-height: 100px;
}

.navbar{
  margin: 1.5rem;
  margin-right: 5rem;
}

.navbar ul{
  display: flex;
  list-style-type: none;
}

.navbar > ul > li{
  margin: 0 2rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.res-card{
  width: 250px;
  height: 450px;
  border: 1px solid blue;
  margin: 10px 17px;
  border-radius: 12%;
  overflow: hidden;
}

.res-card:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.4s ease-in-out;
}

.search{
  margin: 15px;
}

.restaurantContainer{
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px 0 12%;
}

.res-card-img{
  width: 100%;
  height: 10%; 
}

.res-body{
  padding-left: 4px;
}

.body-header{
  display: flex;
}

.filter{
  margin: 15px;
}

.shimmer-item{
  width: 250px;
  height: 450px;
  margin: 10px 17px;
  border-radius: 12%;
}

.shimmer-container{
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px 0 12%;
}

.res-body > h4 {
  text-decoration: none;
  color: inherit;
}

div > .user-card{
  border: 1px solid black;
}